{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- BOOTSTRAP CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="{% static 'css/bootstrap.min.css' %}"
        />

        <!-- SITE CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <!-- JQUERY -->
        <script src="{% static 'js/jquery-3.5.1.js' %}"></script>

        <script src="{% static 'js/index.js' %}"></script>

        <!-- BOOTSTRAP JS  -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- <script src="{% static 'orders/orders.js' %}"></script> -->

        <title>{%block title%} {%endblock%}</title>
    </head>
    <body>
        <div class="container">
            <header class="site-header">
                <!--Navbar-->
                <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5">
                    <!-- Navbar brand -->
                    <a href=" {% url 'index' %}" ><span class="navbar-brand">Pinocchio's Pizza</span></a>

                    <!-- Collapse button -->
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#basicExampleNav"
                        aria-controls="basicExampleNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="basicExampleNav">
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto groups">
                            <li class="nav-item active">
                                <a class="nav-link" data-group = "All"  href="#">Full menu </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-group = "Pizza" href="#">Pizza</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-group = "Subs" href="#">Subs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  data-group = "Pasta" href="#">Pasta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-group = "Salads" href="#">Salads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-group = "Dinner Platters" href="#">Dinner Platters</a>
                            </li>
                            <li class="nav-item"></li>
                        </ul>
                        <!-- Links -->
                        {% if user.is_authenticated %}
                        <span>{{ user.username }}</span>
                         <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>                
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        </ul>
                         {% endif %}
                        <div class="cart my-0">
                            <a class="nav-link" href="{% url 'cart' %}">
                                <!-- <span class="badge red z-depth-1 mr-1"> 1 </span> -->
                                <img
                                    src="{% static 'img/cart.png' %}"
                                    width="30"
                                    height="30"
                                    alt="shopping cart"
                                />
                                <span> Cart </span>
                            </a>
                        </div>
                    </div>
                    <!-- Collapsible content -->
                </nav>
                <!--/.Navbar-->


            </header>

            {% if messages %}

                {% for message in messages %}
                <div
                class="alert text-center alert-{{message.tags}} alert-dismissible fade show"
                id="chat-alert"
                role="alert"
                >

                {{ message }}

                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

        {% endfor %}

         

            {% endif %} {% block body %} {% endblock %}
        </div>

        <!-- <script
      src="{% static 'https://code.jquery.com/jquery-3.2.1.slim.min.js' %}"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %}"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %}"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->
    </body>
</html>
