{% extends "menu/base.html" %} {% block title %} Cart {% endblock %} 
{% block body %}

<div class="container">
    <div>
       
    </div> 
       <div class="title">
        Shopping cart
         <a href="{% url 'order_history' %}">Purchase history</a>
        </div>

    {% if itemorders %}

    {% if unconfirmed %}
    <form method="POST" class="confirm-cart">
    {% else %}
   
    <form   action="{% url 'order_repeat' cart_id %}"  method="POST">

    {% endif %}

    {% csrf_token %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Price for one</th>
                <th scope="col">Amount</th>
                <th style="width: 16.66%" scope="col">Price</th>
            </tr>
        </thead>
        <tbody>

            {% for ordereditem in itemorders %}
            <tr data-id = " {{ordereditem.id}} ">
                <td scope="row">
                {% if unconfirmed %}
                    <div class="buttons">
                        <button type="button" class="cart close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                
                </td>
                <td>
                    <span>{{ ordereditem.item.group }}</span>
                    <span>{{ ordereditem.item.name }}</span>
                    <span>{{ ordereditem.size }}</span>
                    <br/>
                    {% for topping in ordereditem.toppings.all %}
                        <span>{{ topping.item.name }}</span>
                        <span> x{{ topping.quantity }}</span>
                    <br/>

                    {%endfor%}

                </td>
                <td>{{ ordereditem.price }}</td>
                <td>
                    <form method="POST" class="counter">
                        {% csrf_token %}
                        <div class="counter">
                            <span class="minus">–</span>
                            <input
                                class="amount"
                                type="text"
                                value="{{ ordereditem.quantity }}"
                                min = "1"
                            />
                            <span class="plus">+</span>
                        </div>
                    </form>
                </td>
                <td  class="calc_price">{{ ordereditem.calc_price }}</td>
            </tr>
            {%endfor%}
            
        </tbody>
    </table>
    {% if unconfirmed %}

    <div class="confirm">
         <h4 > Total <span class="total-price">  {{ total }} </span> </h4>
        <button class="add-cart btn btn-secondary my-3" type="submit">confirm order</button>
    </div> 
    {% else %}

    <div class="repeat">
        <button class="repeat btn btn-secondary my-3" data-id = {{ordereditem}} type="submit">repeat order</button>
    </div> 
    {% endif %}

    </form>

    {% else %}
    <h4 class="text-center">Your cart is empty</h4>
    {% endif %}

</div>
{% endblock %}
