{% extends "menu/base.html" %} {% block title %} Pizza {% endblock %} {%block filter%}

<li class="nav-item active">
    <a class="nav-link" data-group="All" href="#">Full menu </a>
</li>
<li class="nav-item">
    <a class="nav-link" data-group="Pizza" href="#">Pizza</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-group="Subs" href="#">Subs</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-group="Pasta" href="#">Pasta</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-group="Salads" href="#">Salads</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-group="Dinner Platters" href="#"
        >Dinner Platters</a
    >
</li>
<li class="nav-item"></li>
{%endblock%} {% block body %}

<section class="text-center mb-4">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        {% for item in items %}

        <div class="col-lg-3 col-md-6 mb-4">
            <!--Card-->
            <div class="card h-100">
                <!--Card image-->
                <img
                    src="static/img/{{ item.group }}.jpg"
                    class="card-img-top"
                    alt="{{ item.group }}"
                />
                <!--Card image-->

                <!--Card content-->
                <div
                    class="info"
                    data-id="{{ item.id }}"
                    data-price="priceForSmall"
                    data-toppings="{{ item.hasToppings}}"
                >
                    <!--Category & Title-->

                    <h5 class="group">{{ item.group }}</h5>
                    <h5 class="type">{{ item.name }}</h5>

                    {% if item.priceForLarge %}
                    <!--size choice-->
                    <form method="post">
                        <div class="">Select Product Size</div>
                        <input
                            type="radio"
                            name="type"
                            value="priceForSmall"
                            data-price="{{ item.priceForSmall }}"
                            checked
                        />
                        <label>Small</label>

                        <input
                            type="radio"
                            name="type"
                            value="priceForLarge"
                            data-price="{{ item.priceForLarge }}"
                        />
                        <label>Large</label>
                    </form>
                    {% endif %}
                    <!--size choice-->
                    <h4>
                        <strong class="price">{{item.priceForSmall }}</strong>
                    </h4>

                    {% if item.hasToppings%}

                    <button
                        class="choose-toppings btn btn-secondary"
                        type="submit"
                    >
                        ADD TO CART
                    </button>
                    {%else%}
                    <form method="POST" class="add-cart">
                        {% csrf_token %}
                        <button class="btn btn-secondary" type="submit">
                            ADD TO CART
                        </button>
                    </form>
                    {%endif%}

                    <!--Card content-->
                    {% if item.hasToppings%}
                    <div data-id="{{ item.id }}" class="toppings hide p-4">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="name">
                            {{item.group}} {{item.name}}
                        </h4>
                        <table class="table table-bordered">
                            <tr>
                                <th></th>
                                <th>price for small</th>
                                <th>price for large</th>
                            </tr>
                            {% for price in item.toppingProduct.all %}

                            {#  check if item has price for particular quantity  #}
                            {% if price.priceForSmall %}
                            <tr>
                                <td>
                                    {{price.toppingQuantity}} topping
                                </td>
                                <td>{{price.priceForSmall}}</td>
                                <td>{{price.priceForLarge}}</td>
                            </tr>
                            {%endif%} {%endfor%} 
                            
                            {% for price in item.items.all%}

                            {# check if item has its own price #}

                            {% if price.priceForSmall %}

                            <tr>
                                <td>
                                    1 extra {{item.name}} portion
                                </td>
                                <td>{{price.priceForSmall}}</td>
                                <td>{{price.priceForLarge}}</td>
                            </tr>
                            {%endif%} 
                            {%endfor%}
                        </table>

                        <h3>choose toppings:</h3>

                        {# if item has toppings display toppings' counter 	#}

                        {% if "Pizza" in item.group.dishType %}

                        <h3>
                            toppings amount:
                            <input
                                class="topCounter"
                                type="text"
                                placeholder="0"
                                min="0"
                                value="0"
                            />
                        </h3>
                        {%endif%}

                        <form method="POST" class="cart-toppings">
                            {% csrf_token %}
                            <div class="row mt-4">
                                {% for topping in item.items.all %} 
                                {% if topping.group.dishType == "Toppings" %}
                                <div
                                    class="col-lg-4 col-md-4 mb-4 d-flex align-items-center"
                                >
                                    <span>{{ topping.name }}</span>
                                    <div class="counter ml-3">
                                        <span class="minus topMinus">–</span>
                                        <input
                                            class="amount"
                                            type="text"
                                            placeholder="0"
                                            min="0"
                                            max="4"
                                            value="0"
                                            data-idtop="{{ topping.id }}"
                                        />
                                        <span class="plus topPlus">+</span>
                                    </div>
                                </div>
                                {%else%}
                                <div
                                    class="col-lg-6 col-md-6 mb-4 align-items-center"
                                >
                                    <h3>
                                        <span>{{ topping.name }}</span>
                                        <input
                                            class="checkbox ml-3"
                                            type="checkbox"
                                            placeholder="0"
                                            value="0"
                                            data-idtop="{{ topping.id }}"
                                        />
                                    </h3>
                                </div>

                                {%endif%} {%endfor%}
                            </div>
                            <button class="btn btn-secondary" type="submit">
                                ADD TO CART
                            </button>
                        </form>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>

        {%endfor%}
    </div>
</section>
{% endblock %}

<!-- 
                                {% for topping in item.items.all %}
                                <div
                                    class="col-lg-4 col-md-4 mb-4"
                                >
                                    
                                      <div class="form-check">
                                          <label class="form-check-label" for="{{ topping.id }}">{{ topping.name }}</label>
                                          <input  data-idtop="{{ topping.id }}" type="checkbox"  id="{{ topping.id }}">
                                    </div>
                                 </div>
                                {%endfor%} -->
