{% extends "orders/base.html" %} {% block title %} Login {% endblock %} 
{% block body %}
<div class="row justify-content-center">
    <form class="col-lg-4" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h3>Login</h3>

        <div class="form-group">
            <label for="username">{{ form.username.label_tag }} </label>
            {{form.username }}
        </div>

        <div class="form-group">
            {{ form.password.label_tag }} {{ form.password }}
        </div>

        {% for error in form.non_field_errors %}
        <p style="color: red;">{{ error }}</p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Log In</button>
        <div class="mt-4">
            <a href="{% url 'registration' %}"
                >Don't have an account yet? Press here to sign up
            </a>
        </div>
    </form>
</div>

{% endblock %}
